<app-side-bar></app-side-bar>
<div class="main-content">
  <div class="header">
    <h2>All notes</h2>
    <mat-button-toggle-group #group="matButtonToggleGroup" [(ngModel)]="apperance">
      <mat-button-toggle value="grid" aria-label="Show grid">
        <mat-icon>grid_view</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value="list" aria-label="Show listr">
        <mat-icon>menu</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>
    <app-filters [style.flex-grow]="1" [searchType]="config.filter"></app-filters>
  </div>
  <div class="content">
    <app-notes-list *ngIf="apperance === 'list'"></app-notes-list>
    <app-notes-grid *ngIf="apperance === 'grid'" [gridConfig]="config.grid"></app-notes-grid>
  </div>
</div>
<app-edit-note></app-edit-note>