mat-card {
    width: 90%;
    height: 90%;
    background: cornsilk;
}

mat-card-header {
    justify-content: center;
    padding: 8px 16px 8px 16px;
}

mat-card-content {
    padding-top: 16px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
}

.footer {
    display: flex;
    justify-content: space-between;
    margin-bottom: -5px !important;
}

.details {

    p {
        margin: 0;
        font-size: 12px;
    }
}

.tag-list {
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.action-buttons {
    display: flex;
    flex-direction: row;

    mat-icon {
        width: 20px;
        height: 20px;
        font-size: 20px;
    }
}