<mat-grid-list [cols]="gridConfig.row" [rowHeight]="gridConfig.size">
    <mat-grid-tile *ngFor="let n of $notes | async">
        <mat-card>
            <mat-card-header>
                <mat-card-title>{{n.title}}</mat-card-title>
            </mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-content>
                <div [innerHTML]="n.content | safeHtml"></div>
                <div>
                    <div class="tag-list">
                        <div class="tag" *ngFor="let tag of n.tags" [ngStyle]="{'background-color': tag.color}">
                            {{tag.title}}</div>
                    </div>
                    <div class="footer">
                        <div class="details">
                            <p>Created: {{n.createdAt | date}}</p>
                            <p>Last update: {{n.lastUpdated | date}}</p>
                        </div>
                        <div class="action-buttons">
                            <button class="edit-button" mat-icon-button (click)="editNote(n)">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button class="delete-button" mat-icon-button (click)="deleteNote(n)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>

            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>