<mat-grid-list cols="3" rowHeight="4:5">
    <mat-grid-tile *ngFor="let n of $notes | async">
        <mat-card>
            <mat-card-header>
                <mat-card-title>{{n.title}}</mat-card-title>
            </mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-content>
                <div [innerHTML]="n.content | safeHtml"></div>
                <div class="action-buttons">
                    <button class="edit-button" mat-icon-button (click)="editNote(n)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button class="delete-button" mat-icon-button (click)="deleteNote(n)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>

            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>